.bg-navbar{
    background:#4C88C6 !important;
}
.logo{
    font-weight: bold;
    color:#FFF !important;
}
.logo span{
    margin-top:5px;
    font-size:10px;
    font-family: tahoma,arial;
}
.navSettings{
    background: none !important;
    color: #FFF !important
}