.bg-navbar {
    background: #4c88c6 !important;
}
.logo {
    font-weight: bold;
    color: #fff !important;
}
.logo span {
    margin-top: 5px;
    font-size: 10px;
    font-family: tahoma, arial;
}
.navSettings {
    background: none !important;
    color: #fff !important;
}
