<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill bg-navbar">

  <!-- header -->
  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100 logo" routerLink="/dashboard">

      PresSence Platform<span class="text-warning">Control</span>
    </a>
  </div>


  <!-- right menu -->
  <div class="collapse navbar-collapse right-nav mr-4 ">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="btn nav-link" *ngIf="isAutheticated()" href="/" (click)="logout()">
          <i class="fas fa-sign-out-alt navSettings mr-4">&nbsp;{{userName()}}</i>
        </a>
      </li>
    </ul>
  </div>



</nav>