<div >
    <button type="button" class="btn btn-info btn-sm mb-2" (click)="newDepartement(template)">
        <i class="fas fa-plus-square"></i> Create
    </button>
    <table class="table  table-hover table-bordered text-center">
        <thead class="bg-dark text-white">
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>

            <th>operations</th>
        </thead>
        <tbody class="bg-white text-dark">
            <tr *ngFor="let departement of departements">
                <td>{{departement.id}}</td>
                <td>{{departement.name}}</td>
                <td>{{departement.description}}</td>

                <td>
                    <button class='btn btn-success mr-2 btn-sm' (click)="updateDepartement(departement,template)">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                    <!-- <button class='btn btn-danger mr-2 btn-sm' (click)="deleteDepartement(departement)">Delete</button> -->
                    <button class='btn btn-danger mr-2 btn-sm' (click)="openModal(confirmDelete)">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <!-- confirmDelete modal -->
                    <ng-template #confirmDelete>
                        <div class="modal-body text-center">
                        <p>Do you want to confirm?</p>
                        <button type="button" class="btn btn-success text-white mr-2" (click)="confirm(departement)" >
                            <i class="fas fa-check"></i></button>
                        <button type="button" class="btn btn-danger text-white" (click)="decline()" >
                            <i class="fas fa-times"></i>
                        </button>
                        </div>
                    </ng-template>
                    <!-- end confirmDelete -->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <button class='btn btn-info mr-2 btn-sm' (click)="updateDepartement(departement)">Add new Departement</button> -->
    
</div>
<!-- <button type="button" class="btn btn-primary" (click)="newDepartement(template)">Create template modal</button> -->



<!-- modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{operation}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="processForm(departement)" #departementForm="ngForm">
            <!-- name -->
            <div class="form-group">
                <label for="name" class="col-form-label col-form-label-sm customLabel">Name Of Departement :</label>
                <input type="text" id="name" name="name" placeholder="name" class='form-control' [(ngModel)]="departement.name"
                    #name="ngModel" minlength="4" required />
            </div>
            <div *ngIf="name.Untouched || (name.invalid && (name.dirty || name.Untouched))" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters
                </div>
            </div>
            <!-- name end  -->
            
            <!-- description -->
            <div class="form-group">
                <label for="description" class="col-form-label col-form-label-sm customLabel">Description :</label>
                <input type="text" id="description" name="description" placeholder="Description" class='form-control'
                    [(ngModel)]="departement.description" #description="ngModel" minlength="10" required />
            </div>
            <div *ngIf="description.invalid && (description.dirty || description.Untouched)" class="alert alert-danger">
                <div *ngIf="description.errors.required">
                    Name is required.
                </div>
                <div *ngIf="description.errors.minlength">
                    Name must be at least 10 characters
                </div>
            </div>
            <!-- description end -->
            
            
            <button type="submit" class='btn-sm btn btn-primary' [disabled]="departementForm.form.invalid" >Save</button>
        </form>
        <button class=' btn-sm btn btn-danger fix-cancel' (click)="decline()">close</button>
    </div>
  </ng-template>

  <!-- modal end -->




