<!-- Table of Roles -->
<div >
    <table class="table table-hover table-bordered col-md-6">
        <thead class="bg-dark text-white">
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
    
            <th>operations</th>
        </thead>
        <tbody class="bg-white text-dark">
            <tr *ngFor="let role of roles">
                <td>{{role.id}}</td>
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
    
                <td>
                    <button class='btn btn-success mr-2 btn-sm' (click)="updateRole(role,template)">Edit</button>
                    <button class='btn btn-danger  btn-sm' >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class='btn btn-info  btn-sm' >Add Role</button>

  </div>
  
<!-- modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Description</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="processForms(template)">
            <div class="form-group">
                <input type="text" name="description" placeholder="description" class='form-control' [(ngModel)]="role.description"
                    #name="ngModel" minlength="4" required />
            </div>
            <!-- validation -->
            <div *ngIf="name.invalid && (name.dirty || name.Untouched)" class="alert alert-danger">
    
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters
                </div>
            </div>
            <!-- validation end here -->

            <div class="form-group">
                <button type="submit" [disabled]="name.invalid" class='btn-sm btn btn-primary'  >Save</button>
                <button   class='ml-2 btn-sm btn btn-danger' (click)="modalRef.hide()">close</button>
            </div>
    
        </form>
    </div>
  </ng-template>

  <!-- modal end -->